nav menu {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
}

nav li{
    display: flex;
    text-transform: uppercase;
	padding: 10px;
}

.menu li a {
    display: flex;
    text-decoration: none;
    color: #000000;   
}

.container img {
    height: 300px;
    display: grid;
}

.flex {
    display: flex;
    justify-content: space-between;
  }
  
.mt {
    margin-top: 0.5rem;
}